.header {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 22px 0 0 0;
  position: relative;
  width: 100%;

  @media (min-width: @tablet-width) {
    padding: 0 50px 0 50px;
    justify-content: inherit;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #e1e1e1;
      left: 0;
      top: 88px;
      z-index: 2;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin: 0 0 132px 0;
  }
}

.header__container {
  width: 100%;

  @media (min-width: @desktop-width) {
    width: 1150px;
    margin: 0 auto;
    position: relative;
  }
}

.header__logo-mobile {
  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.header__logo-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;

    @media (min-width: @desktop-width) {
      display: none;
    }
  }
}

.header__logo-desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.header__link {
  display: block;
  width: 86px;
  min-height: 35px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    position: absolute;
    left: 48px;
    top: 22px;
    z-index: 2;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    left: 500px;
    height: 72px;
    top: 9px;
  }
}

.header__nav {
  position: absolute;
  width: 100%;
  min-height: 264px;
  z-index: 1;
  top: 79px;
  left: 0;

  &--nojs {
    position: static;
    min-height: 0;
  }

  @media (min-width: @tablet-width) {
    position: initial;
    min-height: 115px;
  }
}

.header__nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  display: none;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ececec;
    bottom: 0;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    background-color: inherit;

    &::before {
      display: none;
    }
  }
}

.header__nav-item {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ececec;
  }

  &:nth-child(5) {
    display: none;
  }

  &:nth-child(1) .header__nav-link {
    padding: 29px 65px 27px 46px;
  }

  &:nth-child(2) .header__nav-link {
    padding: 29px 65px 27px 51px;
  }

  &:nth-child(3) .header__nav-link {
    background-image: url("../../img/navigation-search.svg");
    background-repeat: no-repeat;
    background-position: 32px 30px;
    padding: 27px 65px 27px 33px;
  }

  &:nth-child(4) .header__nav-link {
    background-image: url("../../img/navigation-cart.svg");
    background-repeat: no-repeat;
    background-position: 30px 29px;
    padding: 27px 57px 27px 70px;
  }

  @media (min-width: @tablet-width) {
    position: relative;

    &:nth-child(1) {
      &::before {
        display: none;
      }
    }

    &:nth-child(2) {
      &::before {
        display: none;
      }
    }

    &:nth-child(3) {
      order: -1;
      margin: 0 0 0 320px;

      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 1px;
        background-color: #e6e6e6;
        right: 0;
        bottom: 0;
      }

      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 1px;
        background-color: #e6e6e6;
        left: 0;
        bottom: 0;
      }
    }

    &:nth-child(4) {
      order: -1;
    }

    &:nth-child(5) {
      display: block;
      margin: 0 0 0 84px;

      &::before {
        display: none;
      }
    }

    &:nth-child(1) .header__nav-link {
      width: 160px;
      min-height: 88px;
      padding: 21px 0 0 0;
      text-align: left;
      font-size: 15px;
    }

    &:nth-child(2) .header__nav-link {
      width: 160px;
      padding: 21px 0 0 8px;
      text-align: left;
      font-size: 15px;
      min-height: 88px;
    }

    &:nth-child(3) .header__nav-link {
      width: 84px;
      min-height: 88px;
      padding: 0;
      background-position: center 36px;
    }

    &:nth-child(4) .header__nav-link {
      width: 264px;
      padding: 33px 0 22px 80px;
      text-align: right;
      background-position: 31px 35px;
      min-height: 88px;
    }
  }

  @media (min-width: @desktop-width) {
    &:nth-child(1) {
      order: -1;
    }

    &:nth-child(2) {
      order: -1;
    }

    &:nth-child(3) {
      margin: 0 0 0 280px;
    }

    &:nth-child(5) {
      order: 3;
      margin: 0 0 0 398px;
    }

    &:nth-child(1) .header__nav-link {
      width: 235px;
      min-height: 88px;
      padding: 33px 30px 32px 50px;
      font-size: 17px;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        height: 88px;
        width: 1px;
        top: 0;
        right: 0;
        background-color: #e6e6e6;
      }
    }

    &:nth-child(2) .header__nav-link {
      width: 235px;
      min-height: 88px;
      font-size: 17px;
      padding: 33px 35px 30px 35px;
    }

    &:nth-child(4) .header__nav-link {
      width: 316px;
      padding: 33px 52px 22px 80px;
    }

    &:nth-child(6) .header__desktop-link {
      width: 235px;
      min-height: 88px;
      padding: 19px 25px 45px 51px;
      text-decoration: none;
      color: #000000;
      font-size: 15px;
      font-weight: 700;
      line-height: 24px;
    }

    &:nth-child(7) .header__desktop-link {
      width: 235px;
      min-height: 88px;
      padding: 19px 100px 45px 35px;
      text-decoration: none;
      color: #000000;
      font-size: 15px;
      font-weight: 700;
      line-height: 24px;
    }
  }
}

.header__tablet-link {
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  text-decoration: none;
  color: #444444;
  width: 264px;
  height: 100%;
  padding: 20px 0 0 0;

  @media (min-width: @desktop-width) {
    padding: 20px 33px 40px 0;
  }
}

.header__desktop-link {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.header__search-display {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.header-nav--opened .header__nav-list {
  display: block;
}

.header__nav-link {
  display: block;
  width: 100%;
  text-decoration: none;
  font-family: "Opensans", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  min-height: 79px;
  text-align: center;

  @media (min-width: @desktop-width) {
    min-height: 89px;
    font-size: 17px;
  }
}

.header__button {
  position: absolute;
  width: 20px;
  height: 14px;
  background-image: url("../../img/menu.svg");
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  top: -47px;
  right: 31px;
}

.header-nav--opened .header__button {
  background-image: url("../../img/menu-cross.svg");
  background-repeat: no-repeat;
  width: 21px;
  height: 20px;
  background-color: #ffffff;
}

//nojs

.header__nav--nojs .header__button {
  display: none;
}

.header__nav--nojs .header__nav-list {
  display: block;
}

//header white line

.header__nav-item--index .header__nav-link {
  position: relative;

  &::before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    right: 0;
    top: 34px;
    background-color: #ffffff;
  }
}

//form-page

.header--form {
  @media (min-width: @desktop-width) {
    margin: 0 0 115px 0;
  }
}

.header__form-block {
  width: 100%;
  min-height: 177px;
  background-color: #f1f1f1;
  padding: 73px 37px 73px 36px;
  margin: 18px 0 17px 0;

  @media (min-width: @tablet-width) {
    min-height: 238px;
    width: calc(100% + 100px);
    margin: -88px -50px 55px -50px;
    padding: 102px 0 80px 0;
  }

  @media (min-width: @desktop-width) {
    min-height: 255px;
    width: 100%;
    margin: -88px -50px 0 0;
    position: initial;
  }
}

.header__form-title {
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 24px;
      background-image: url("../../img/zigzag-tablet-title.svg");
      background-repeat: repeat;
      left: 0;
      bottom: -86px;
    }
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;

    &::before {
      background-image: url("../../img/form-zigzag-desktop.svg");
      height: 18px;
      bottom: -96px;
    }
  }
}

//catalog-page

.header__catalog-block {
  width: 100%;
  min-height: 177px;
  background-color: #f1f1f1;
  padding: 73px 41px 73px 42px;
  margin: 18px 0 17px 0;
}
