.map {
  position: relative;
  margin-bottom: 42px;
  height: 455px;
}

.map__frame {
  position: absolute;
  width: calc(100% + 60px);
  border: none;
  z-index: 1;
  left: -30px;
}

.map__image {
  width: 100%;
  position: absolute;
}
