.map {
  position: relative;
  margin-bottom: 42px;
  height: 455px;
}

.map__frame {
  position: absolute;
  width: 100%;
  border: none;
  z-index: 1;
}

.map__image {
  width: 100%;
  position: absolute;
}
