.reviews {
  padding: 0 30px 0 30px;
}

.reviews__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}

.reviews__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(68, 68, 68, 1);
}

.reviews__line {
  display: flex;
  flex-wrap: wrap;
}

.reviews__initials {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  width: 100%;
}

.reviews__initials-gap {
  display: block;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(68, 68, 68, 1);
  margin: 13px 0 0 0;
}

.reviews__button-left {
  width: 50%;
  height: 52px;
  padding: 13px 42px 13px 38px;
  border: #ececec solid 1px;
  background-color: #ffffff;
}

.reviews__button-right {
  width: 50%;
  height: 52px;
  padding: 13px 42px 13px 37px;
  border: #ececec solid 1px;
  background-color: #ffffff;
  margin: 0 0 0 -1px;
}

.reviews__button {
  width: 100%;
  height: 52px;
  font-family: "OpenSans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #444444;
  border: #444444 solid 2px;
  background-color: #ffffff;
}
