.short-info {
  padding: 0 30px 0 30px;
}

.short-info__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
}

.short-info__list {
  display: grid;
  grid-template-rows: 94px 94px 94px 94px 94px 94px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.short-info__item {
}

.short-info__text {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
}
